extends layout

block content
  section.section-profile
    .container-large.user-view
      .user-profile.container-small
        .section-profile-image
          .profile-image-container
            img.profile-image(src=`${user.profileimage}` alt='profile image')
          .upload-image
            a.btn.btn-medSlate-full(href='users/upload') Upload
        .section-profile-user
          .profile-username
            h4 #{user.username}
          .profile-bio
            p User Bio:
            .description-box
              != user.bio
      .line
      if colls
        .gallery
          h3 Galleries
          .generate-grid.align-below
            each val, key in colls
              .box.box-detailed
                .box-image
                  a(href=`/gallery/collection/${user.username}/${key}`)
                    img(src=`${val}` alt='cat')
                a(href=`/gallery/collection/${user.username}/${key}`) #{key}

      .gallery
        h3 All Photos
        .generate-grid
          if images
            each image, i in images 
              .box.box-image
                a(href=`/images/view/${image.name}`)
                  img(src=`${image.thumbnail}` alt=`${image.name}`)

