extends layout

block content
  section.section-image-view.container-small.flex-col.pad-hor
    a(href=`/users/profile/${image.username}`)
      h3 #{image.username}
    .image-display
      img(src=`${image.location}` alt=`${image.name}`)
    .details-container.flex-col
      h5 Description
      textarea#description.description-box(disabled='' name="description", cols="30") 
        != image.description
        
      if image.tags
        .flex-col
          h5 Tags
            .tags-container
              each tag, i in image.tags
                a.btn.btn-margin.btn-medSlate-full(href=`/gallery/tags/${tag}`) #{tag}
      if image.collections
        .flex-col
          h5 Collections
          .tags-container
            each collection, i in image.collections
              a.btn.btn-margin.btn-rustic-full(href=`/gallery/collection/${image.username}/${collection}`) #{collection}